<!DOCTYPE html>
<html>
  <head>
    <title>Tony</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container">
      <%= link_to "Menus", menus_path, class: "button" %>
      <%= link_to "Nuevo menu", new_menu_path, class: "button" %>
      <%= yield %>
    </main>
  </body>
</html>
